# Included in this Notebook
##### Importing Libraries and Data
##### Cleaning the Data
     2015 Dataset
     Checking each dataset
     2016 Dataset
     2017 Dataset
     2018 Dataset
     2019 Dataset
##### Exporting the Data

# Importing Libraries and Data

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Defining path
path = r'C:\Users\seann\Downloads\Career Foundry Tasks\World Happiness Analysis'

In [127]:
# Importing World Happiness Dataset 2015
wh_15 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'World Happiness 15.csv'), index_col = False)

In [10]:
# Importing World Happiness Dataset 2016
wh_16 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'World Happiness 16.csv'), index_col = False)

In [11]:
# Importing World Happiness Dataset 2017
wh_17 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'World Happiness 17.csv'), index_col = False)

In [12]:
# Importing World Happiness Dataset 2018
wh_18 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'World Happiness 18.csv'), index_col = False)

In [13]:
# Importing World Happiness Dataset 2019
wh_19 = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'World Happiness 19.csv'), index_col = False)

# Cleaning the Data

### Cleaning World Happiness 2015 Dataset

In [128]:
# checking the head of the WH 2015 dataset
wh_15.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [129]:
# Checking the descriptive statistics
wh_15.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [130]:
# Checking for mixed data types
for col in wh_15.columns.tolist():
  weird = (wh_15[[col]].applymap(type) != wh_15[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (wh_15[weird]) > 0:
    print (col)

In [131]:
# Checking for missing values
wh_15.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [132]:
# Checking shape of datafram
wh_15.shape

(158, 12)

In [133]:
# Checking for duplicates
wh_15_dups = wh_15[wh_15.duplicated()]

In [134]:
wh_15_dups

Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Standard Error, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual]
Index: []

In [135]:
# Delete Unnessary Columns
wh_15_2 = wh_15.drop(columns = ['Region','Standard Error','Dystopia Residual'])

In [136]:
wh_15_2.columns

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')

In [137]:
# Adding a year column
wh_15_2 ['Year'] = '2015'

In [138]:
wh_15_2.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [139]:
# Changing column names
wh_15_2.rename(columns = {'Happiness Rank' : 'Overall Rank', 'Economy (GDP per Capita)' : 'GDP per Capita', 'Family' : 'Social Support', 'Health (Life Expectancy)':'Health', 'Trust (Government Corruption)' : 'Perception of Corruption'}, inplace = True)

In [140]:
wh_15_2.head()

,Country,Overall Rank,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Perception of Corruption,Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [143]:
# Define function to swap columns
def swap_columns(wh_15_2, col1, col2):
    col_list = list(wh_15_2.columns)
    x, y = col_list.index(col1), col_list.index(col2)
    col_list[y], col_list[x] = col_list[x], col_list[y]
    wh_15_2 = wh_15_2[col_list]
    return wh_15_2

In [145]:
# Swap columns
wh_15_2 = swap_columns(wh_15_2, 'Perception of Corruption', 'Generosity')

In [146]:
wh_15_2.head()

,Country,Overall Rank,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Generosity,Perception of Corruption,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015

In [147]:
# Define function to swap columns
def swap_columns(wh_15_2, col3, col4):
    col_list = list(wh_15_2.columns)
    x, y = col_list.index(col3), col_list.index(col4)
    col_list[y], col_list[x] = col_list[x], col_list[y]
    wh_15_2 = wh_15_2[col_list]
    return wh_15_2

In [148]:
# Swap columns
wh_15_2 = swap_columns(wh_15_2, 'Country', 'Overall Rank')

In [149]:
wh_15_2.head()

,Overall Rank,Country,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Generosity,Perception of Corruption,Year
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015
1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015
2,3,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015
3,4,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015
4,5,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015

### Checking all the heads of each dataframe

In [23]:
# checking the head of the WH 2016 dataset
wh_16.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [24]:
# checking the head of WH 2017 dataset
wh_17.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [25]:
# checking the head of WH 2018 dataset
wh_18.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [26]:
# checking the head of WH 2019 dataset
wh_19.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

### Cleaning World Happiness 2016 Dataset

In [29]:
# Checking the descriptive statistics
wh_16.describe()

,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000
mean,78.980892,5.382185,5.282395,5.481975,0.953880,0.793621,0.557619,0.370994,0.137624,0.242635,2.325807
std,45.466030,1.141674,1.148043,1.136493,0.412595,0.266706,0.229349,0.145507,0.111038,0.133756,0.542220
min,1.000000,2.905000,2.732000,3.078000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.817890
25%,40.000000,4.404000,4.327000,4.465000,0.670240,0.641840,0.382910,0.257480,0.061260,0.154570,2.031710
50%,79.000000,5.314000,5.237000,5.419000,1.027800,0.841420,0.596590,0.397470,0.105470,0.222450,2.290740
75%,118.000000,6.269000,6.154000,6.434000,1.279640,1.021520,0.729930,0.484530,0.175540,0.311850,2.664650
max,157.000000,7.526000,7.460000,7.669000,1.824270,1.183260,0.952770,0.608480,0.505210,0.819710,3.837720

In [34]:
# Checking for mixed data types
for col in wh_16.columns.tolist():
  weird = (wh_16[[col]].applymap(type) != wh_16[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (wh_16[weird]) > 0:
    print (col)

In [35]:
# Checking for missing values
wh_16.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [36]:
# Checking shape of datafram
wh_16.shape

(157, 13)

In [37]:
# Checking for duplicates
wh_16_dups = wh_16[wh_16.duplicated()]

In [38]:
wh_16_dups

Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Lower Confidence Interval, Upper Confidence Interval, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual]
Index: []

In [44]:
# Delete Unnessary Columns
wh_16_2 = wh_16.drop(columns = ['Region','Lower Confidence Interval','Upper Confidence Interval','Dystopia Residual'])

In [45]:
wh_16_2.columns

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')

In [55]:
wh_16_2.drop(columns = ['Year'])

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492
...,...,...,...,...,...,...,...,...,...
152,Benin,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180
153,Afghanistan,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268
154,Togo,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517
155,Syria,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397
156,Burundi,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290

In [61]:
wh_16_2.columns

Index(['Country', 'Happiness Rank', 'Happiness Score', 'Year',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity'],
      dtype='object')

In [62]:
wh_16_2 ['Year'] = '2016'

In [105]:
# Adding a new year column
wh_16_2 ['Year'] = '2016'

In [106]:
wh_16_2.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,year,Year
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2016,2016
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2016,2016
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2016,2016
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2016,2016
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2016,2016

In [107]:
# Deleting extra year column
wh_16_2 = wh_16_2.drop(columns = ['year'])

In [108]:
wh_16_2.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2016
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2016
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2016
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2016
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2016

In [141]:
# Changing column names for World Happiness 2016 
wh_16_2.rename(columns = {'Happiness Rank' : 'Overall Rank', 'Economy (GDP per Capita)' : 'GDP per Capita', 'Family' : 'Social Support', 'Health (Life Expectancy)':'Health', 'Trust (Government Corruption)' : 'Perception of Corruption'}, inplace = True)

In [142]:
wh_16_2.head()

,Country,Overall Rank,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Perception of Corruption,Generosity,Year
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2016
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2016
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2016
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2016
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2016

In [150]:
# Define function to swap columns
def swap_columns(wh_16_2, col1, col2):
    col_list = list(wh_16_2.columns)
    x, y = col_list.index(col1), col_list.index(col2)
    col_list[y], col_list[x] = col_list[x], col_list[y]
    wh_16_2 = wh_16_2[col_list]
    return wh_16_2

In [151]:
# Swap columns
wh_16_2 = swap_columns(wh_16_2, 'Perception of Corruption', 'Generosity')

In [152]:
wh_16_2.head()

,Country,Overall Rank,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Generosity,Perception of Corruption,Year
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.36171,0.44453,2016
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.28083,0.41203,2016
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.47678,0.14975,2016
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.37895,0.35776,2016
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.25492,0.41004,2016

In [155]:
# Define function to swap columns
def swap_columns(wh_16_2, col3, col4):
    col_list = list(wh_16_2.columns)
    x, y = col_list.index(col3), col_list.index(col4)
    col_list[y], col_list[x] = col_list[x], col_list[y]
    wh_16_2 = wh_16_2[col_list]
    return wh_16_2

In [158]:
# Swap columns
wh_16_2 = swap_columns(wh_16_2, 'Overall Rank', 'Country')

In [159]:
wh_16_2.head()

,Overall Rank,Country,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Generosity,Perception of Corruption,Year
0,1,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,0.36171,0.44453,2016
1,2,Switzerland,7.509,1.52733,1.14524,0.86303,0.58557,0.28083,0.41203,2016
2,3,Iceland,7.501,1.42666,1.18326,0.86733,0.56624,0.47678,0.14975,2016
3,4,Norway,7.498,1.57744,1.12690,0.79579,0.59609,0.37895,0.35776,2016
4,5,Finland,7.413,1.40598,1.13464,0.81091,0.57104,0.25492,0.41004,2016

### Cleaning World Happiness 2017 Dataset

In [64]:
wh_17.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [65]:
# Checking the descriptive statistics
wh_17.describe()

,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
count,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.000000,5.354019,5.452326,5.255713,0.984718,1.188898,0.551341,0.408786,0.246883,0.123120,1.850238
std,44.888751,1.131230,1.118542,1.145030,0.420793,0.287263,0.237073,0.149997,0.134780,0.101661,0.500028
min,1.000000,2.693000,2.864884,2.521116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914
25%,39.500000,4.505500,4.608172,4.374955,0.663371,1.042635,0.369866,0.303677,0.154106,0.057271,1.591291
50%,78.000000,5.279000,5.370032,5.193152,1.064578,1.253918,0.606042,0.437454,0.231538,0.089848,1.832910
75%,116.500000,6.101500,6.194600,6.006527,1.318027,1.414316,0.723008,0.516561,0.323762,0.153296,2.144654
max,155.000000,7.537000,7.622030,7.479556,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485

In [66]:
# Checking for mixed data types
for col in wh_17.columns.tolist():
  weird = (wh_17[[col]].applymap(type) != wh_17[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (wh_17[weird]) > 0:
    print (col)

In [67]:
# Checking for missing values
wh_17.isnull().sum()

Country                          0
Happiness.Rank                   0
Happiness.Score                  0
Whisker.high                     0
Whisker.low                      0
Economy..GDP.per.Capita.         0
Family                           0
Health..Life.Expectancy.         0
Freedom                          0
Generosity                       0
Trust..Government.Corruption.    0
Dystopia.Residual                0
dtype: int64

In [68]:
# Checking shape of datafram
wh_17.shape

(155, 12)

In [69]:
# Checking for duplicates
wh_17_dups = wh_17[wh_17.duplicated()]

In [70]:
wh_17_dups

Empty DataFrame
Columns: [Country, Happiness.Rank, Happiness.Score, Whisker.high, Whisker.low, Economy..GDP.per.Capita., Family, Health..Life.Expectancy., Freedom, Generosity, Trust..Government.Corruption., Dystopia.Residual]
Index: []

In [72]:
# Delete Unnessary Columns
wh_17_2 = wh_17.drop(columns = ['Whisker.high','Whisker.low','Dystopia.Residual'])

In [73]:
wh_17_2.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score',
       'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.',
       'Freedom', 'Generosity', 'Trust..Government.Corruption.'],
      dtype='object')

In [74]:
# Add year column
wh_17_2 ['Year'] = '2017'

In [75]:
wh_17_2.head()

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2017

In [160]:
# Changing column names for World Happiness 2017 
wh_17_2.rename(columns = {'Happiness.Rank' : 'Overall Rank', 'Happiness.Score': 'Happiness Score', 'Economy..GDP.per.Capita.' : 'GDP per Capita', 'Family' : 'Social Support', 'Health..Life.Expectancy.':'Health', 'Trust..Government.Corruption.' : 'Perception of Corruption'}, inplace = True)

In [161]:
# Checking columns
wh_17_2.columns

Index(['Country', 'Overall Rank', 'Happiness Score', 'GDP per Capita',
       'Social Support', 'Health', 'Freedom', 'Generosity',
       'Perception of Corruption', 'Year'],
      dtype='object')

In [162]:
# Define function to swap columns
def swap_columns(wh_17_2, col1, col2):
    col_list = list(wh_17_2.columns)
    x, y = col_list.index(col1), col_list.index(col2)
    col_list[y], col_list[x] = col_list[x], col_list[y]
    wh_17_2 = wh_17_2[col_list]
    return wh_17_2

In [163]:
# Swap columns
wh_17_2 = swap_columns(wh_17_2, 'Overall Rank', 'Country')

In [164]:
wh_17_2.head()

,Overall Rank,Country,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Generosity,Perception of Corruption,Year
0,1,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2017
1,2,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2017
2,3,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2017
3,4,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2017
4,5,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2017

### Cleaning World Happiness 2018 Dataset

In [76]:
wh_18.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [77]:
# Checking the descriptive statistics
wh_18.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

In [78]:
# Checking for mixed data types
for col in wh_18.columns.tolist():
  weird = (wh_18[[col]].applymap(type) != wh_18[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (wh_18[weird]) > 0:
    print (col)

In [79]:
# Checking for missing values
wh_18.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       1
dtype: int64

In [82]:
# checking for missing values
df_nan = wh_18[wh_18['Perceptions of corruption'].isnull() == True]
df_nan

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
19,20,United Arab Emirates,6.774,2.096,0.776,0.67,0.284,0.186,NaN

I've decided to leave the NaN data alone, it is only one missing value in the entire dataframe. I don't want to delete the entire row as that would interfer with the analysis. So we will use the nan as a flag.

In [83]:
# Checking for duplicates
wh_18_dups = wh_18[wh_18.duplicated()]

In [84]:
wh_18_dups

Empty DataFrame
Columns: [Overall rank, Country or region, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

In [85]:
# Add year column
wh_18 ['Year'] = '2018'

In [86]:
wh_18.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [169]:
# Changing column names for World Happiness 2018
wh_18.rename(columns = {'Score' : 'Happiness Score', 'Country or region' : 'Country', 'Health life Expectancy':'Health', 'Freedom to make life choices' : 'Freedom', 'Perceptions of corruption' : 'Perception of corruption'}, inplace = True)

In [170]:
wh_18.columns

Index(['Overall rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy', 'Freedom', 'Generosity',
       'Perception of corruption', 'Year'],
      dtype='object')

In [179]:
wh_18.rename(columns = {'Healthy life expectancy': 'Health'}, inplace = True)

In [180]:
wh_18.columns

Index(['Overall rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social support', 'Health', 'Freedom', 'Generosity',
       'Perception of corruption', 'Year'],
      dtype='object')

### Cleaning the World Happiness 2019 Dataset

In [87]:
wh_19.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [88]:
# Checking the descriptive statistics
wh_19.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

In [89]:
# Checking for mixed data types
for col in wh_19.columns.tolist():
  weird = (wh_19[[col]].applymap(type) != wh_19[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (wh_19[weird]) > 0:
    print (col)

In [90]:
# Checking for missing values
wh_19.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [91]:
# Checking for duplicates
wh_19_dups = wh_19[wh_19.duplicated()]

In [92]:
wh_19_dups

Empty DataFrame
Columns: [Overall rank, Country or region, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

In [93]:
# Add year column
wh_19 ['Year'] = '2019'

In [94]:
wh_19.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [174]:
# Changing column names for World Happiness 2019
wh_19.rename(columns = {'Score' : 'Happiness Score', 'Country or region' : 'Country', 'Health life Expectancy':'Health', 'Freedom to make life choices' : 'Freedom', 'Perceptions of corruption' : 'Perception of corruption'}, inplace = True)

In [175]:
wh_19.columns

Index(['Overall rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy', 'Freedom', 'Generosity',
       'Perception of corruption', 'Year'],
      dtype='object')

In [176]:
wh_19.head()

,Overall rank,Country,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom,Generosity,Perception of corruption,Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [177]:
wh_19.rename(columns = {'Healthy life expectancy': 'Health'}, inplace = True)

In [178]:
wh_19.head()

,Overall rank,Country,Happiness Score,GDP per capita,Social support,Health,Freedom,Generosity,Perception of corruption,Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

# Exporting Data

In [181]:
# Exporting Data WH 2015
wh_15_2.to_csv(os.path.join(path, '02 Data','Prepared Data', 'World_Happiness_2015_check.csv'))

In [182]:
# Exporting Data WH 2016
wh_16_2.to_csv(os.path.join(path, '02 Data','Prepared Data', 'World_Happiness_2016_check.csv'))

In [183]:
# Exporting Data WH 2017
wh_17_2.to_csv(os.path.join(path, '02 Data','Prepared Data', 'World_Happiness_2017_check.csv'))

In [184]:
# Exporting Data WH 2018
wh_18.to_csv(os.path.join(path, '02 Data','Prepared Data', 'World_Happiness_2018_check.csv'))

In [185]:
# Exporting Data WH 2019
wh_19.to_csv(os.path.join(path, '02 Data','Prepared Data', 'World_Happiness_2019_check.csv'))