# Included in this notebook
##### Importing Libraries and Data
##### Checking the dataset and fixing any erros
##### Combining the five datasets
##### Cleaning the data
##### Performing Descriptive Analysis
##### Exporting the Data

# Importing Libraries and Data

In [2]:
# Importing Libraries
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Defining path
path = r'C:\Users\seann\Downloads\Career Foundry Tasks\World Happiness Analysis'

In [4]:
# Importing World Happiness Dataset 2015
wh_15 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'World_Happiness_2015_check.csv'), index_col = False)

In [5]:
# Importing World Happiness Dataset 2016
wh_16 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'World_Happiness_2016_check.csv'), index_col = False)

In [6]:
# Importing World Happiness Dataset 2017
wh_17 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'World_Happiness_2017_check.csv'), index_col = False)

In [7]:
# Importing World Happiness Dataset 2018
wh_18 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'World_Happiness_2018_check.csv'), index_col = False)

In [8]:
# Importing World Happiness Dataset 2019
wh_19 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'World_Happiness_2019_check.csv'), index_col = False)

# Checking each dataset for errors

In [9]:
wh_15.head()

,Unnamed: 0,Overall Rank,Country,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Generosity,Perception of Corruption,Year
0,0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015
1,1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015
2,2,3,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015
3,3,4,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015
4,4,5,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015

In [13]:
# Dropping Unnamed:0 column
wh_15 = wh_15.drop(columns = ['Unnamed: 0'])

KeyError: "['Unnamed: 0'] not found in axis"

In [14]:
wh_15.head()

,Overall Rank,Country,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Generosity,Perception of Corruption,Year
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015
1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015
2,3,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015
3,4,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015
4,5,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015

In [12]:
wh_16.head()

,Unnamed: 0,Overall Rank,Country,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Generosity,Perception of Corruption,Year
0,0,1,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,0.36171,0.44453,2016
1,1,2,Switzerland,7.509,1.52733,1.14524,0.86303,0.58557,0.28083,0.41203,2016
2,2,3,Iceland,7.501,1.42666,1.18326,0.86733,0.56624,0.47678,0.14975,2016
3,3,4,Norway,7.498,1.57744,1.12690,0.79579,0.59609,0.37895,0.35776,2016
4,4,5,Finland,7.413,1.40598,1.13464,0.81091,0.57104,0.25492,0.41004,2016

In [15]:
# Dropping Unnamed:0 column
wh_16 = wh_16.drop(columns = ['Unnamed: 0'])

In [16]:
wh_16.head()

,Overall Rank,Country,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Generosity,Perception of Corruption,Year
0,1,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,0.36171,0.44453,2016
1,2,Switzerland,7.509,1.52733,1.14524,0.86303,0.58557,0.28083,0.41203,2016
2,3,Iceland,7.501,1.42666,1.18326,0.86733,0.56624,0.47678,0.14975,2016
3,4,Norway,7.498,1.57744,1.12690,0.79579,0.59609,0.37895,0.35776,2016
4,5,Finland,7.413,1.40598,1.13464,0.81091,0.57104,0.25492,0.41004,2016

In [17]:
wh_17.head()

,Unnamed: 0,Overall Rank,Country,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Generosity,Perception of Corruption,Year
0,0,1,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2017
1,1,2,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2017
2,2,3,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2017
3,3,4,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2017
4,4,5,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2017

In [18]:
# Dropping Unnamed:0 column
wh_17 = wh_17.drop(columns = ['Unnamed: 0'])

In [19]:
wh_17.columns

Index(['Overall Rank', 'Country', 'Happiness Score', 'GDP per Capita',
       'Social Support', 'Health', 'Freedom', 'Generosity',
       'Perception of Corruption', 'Year'],
      dtype='object')

In [20]:
wh_18.head()

,Unnamed: 0,Overall rank,Country,Happiness Score,GDP per capita,Social support,Health,Freedom,Generosity,Perception of corruption,Year
0,0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [21]:
# Dropping Unnamed:0 column
wh_18 = wh_18.drop(columns = ['Unnamed: 0'])

In [22]:
wh_18.columns

Index(['Overall rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social support', 'Health', 'Freedom', 'Generosity',
       'Perception of corruption', 'Year'],
      dtype='object')

In [35]:
# Renaming Social Support, Perception of corruption, GDP, and Overall rank columns
wh_18.rename(columns = {'Overall rank' :'Overall Rank', 'Social support' : 'Social Support', 'Perception of corruption' : 'Perception of Corruption', 'GDP per capita' : 'GDP per Capita'}, inplace = True)

In [36]:
wh_18.head()

,Overall Rank,Country,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Generosity,Perception of Corruption,Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [23]:
wh_19.head()

,Unnamed: 0,Overall rank,Country,Happiness Score,GDP per capita,Social support,Health,Freedom,Generosity,Perception of corruption,Year
0,0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [24]:
# Dropping Unnamed:0 column
wh_19 = wh_19.drop(columns = ['Unnamed: 0'])

In [25]:
wh_19.columns

Index(['Overall rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social support', 'Health', 'Freedom', 'Generosity',
       'Perception of corruption', 'Year'],
      dtype='object')

In [37]:
# Renaming Social Support, Perception of corruption, GDP, and Overall rank columns
wh_19.rename(columns = {'Overall rank' :'Overall Rank', 'Social support' : 'Social Support', 'Perception of corruption' : 'Perception of Corruption', 'GDP per capita' : 'GDP per Capita'}, inplace = True)

In [38]:
wh_19.head()

,Overall Rank,Country,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Generosity,Perception of Corruption,Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

# Combining the Datasets

In [39]:
# Concatenating all 5 datasets 
frames = [wh_15, wh_16, wh_17, wh_18, wh_19]
wh_concat = pd.concat(frames)

In [40]:
wh_concat

,Overall Rank,Country,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Generosity,Perception of Corruption,Year
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015
1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015
2,3,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015
3,4,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015
4,5,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.35900,0.71100,0.61400,0.55500,0.21700,0.41100,2019
152,153,Tanzania,3.231,0.47600,0.88500,0.49900,0.41700,0.27600,0.14700,2019
153,154,Afghanistan,3.203,0.35000,0.51700,0.36100,0.00000,0.15800,0.02500,2019
154,155,Central African Republic,3.083,0.02600,0.00000,0.10500,0.22500,0.23500,0.03500,2019
155,156,South Sudan,2.853,0.30600,0.57500,0.29500,0.01000,0.20200,0.09100,2019

# Cleaning the Data

In [42]:
wh_concat.describe()

,Overall Rank,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Generosity,Perception of Corruption,Year
count,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,781.000000,782.000000
mean,78.698210,5.379018,0.916047,1.078392,0.612416,0.411091,0.218576,0.125436,2016.993606
std,45.182384,1.127456,0.407340,0.329548,0.248309,0.152880,0.122321,0.105816,1.417364
min,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015.000000
25%,40.000000,4.509750,0.606500,0.869363,0.440183,0.309768,0.130000,0.054000,2016.000000
50%,79.000000,5.322000,0.982205,1.124735,0.647310,0.431000,0.201982,0.091000,2017.000000
75%,118.000000,6.189500,1.236187,1.327250,0.808000,0.531000,0.278832,0.156030,2018.000000
max,158.000000,7.769000,2.096000,1.644000,1.141000,0.724000,0.838075,0.551910,2019.000000

In [45]:
# Checking for mixed data types
for col in wh_concat.columns.tolist():
  weird = (wh_concat[[col]].applymap(type) != wh_concat[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (wh_concat[weird]) > 0:
    print (col)

In [46]:
# Checking for missing values
wh_concat.isnull().sum()

Overall Rank                0
Country                     0
Happiness Score             0
GDP per Capita              0
Social Support              0
Health                      0
Freedom                     0
Generosity                  0
Perception of Corruption    1
Year                        0
dtype: int64

In [47]:
# checking for missing values
df_nan = wh_concat[wh_concat['Perception of Corruption'].isnull() == True]
df_nan

,Overall Rank,Country,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Generosity,Perception of Corruption,Year
19,20,United Arab Emirates,6.774,2.096,0.776,0.67,0.284,0.186,NaN,2018

I've decided to leave the NaN data alone, it is only one missing value in the entire dataframe. I don't want to delete the entire row as that would interfer with the analysis. So we will use the nan as a flag.

In [48]:
# Checking for duplicates
wh_concat_dup = wh_concat[wh_concat.duplicated()]

In [50]:
wh_concat_dup

Empty DataFrame
Columns: [Overall Rank, Country, Happiness Score, GDP per Capita, Social Support, Health, Freedom, Generosity, Perception of Corruption, Year]
Index: []

# Performing Descriptive Analysis

In [51]:
wh_concat['Overall Rank'].value_counts()

57     6
82     6
34     6
145    6
1      5
      ..
35     4
156    4
83     4
157    2
158    1
Name: Overall Rank, Length: 158, dtype: int64

In [52]:
wh_concat['Country'].value_counts()

Switzerland                 5
Dominican Republic          5
Greece                      5
Lebanon                     5
Hungary                     5
                           ..
Taiwan Province of China    1
Somaliland Region           1
Djibouti                    1
Oman                        1
Gambia                      1
Name: Country, Length: 170, dtype: int64

In [53]:
wh_concat['Happiness Score'].value_counts()

6.379    3
4.350    3
5.192    3
6.375    3
2.905    3
        ..
4.508    1
4.459    1
4.415    1
4.404    1
2.853    1
Name: Happiness Score, Length: 716, dtype: int64

In [54]:
wh_concat.describe()

,Overall Rank,Happiness Score,GDP per Capita,Social Support,Health,Freedom,Generosity,Perception of Corruption,Year
count,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,781.000000,782.000000
mean,78.698210,5.379018,0.916047,1.078392,0.612416,0.411091,0.218576,0.125436,2016.993606
std,45.182384,1.127456,0.407340,0.329548,0.248309,0.152880,0.122321,0.105816,1.417364
min,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015.000000
25%,40.000000,4.509750,0.606500,0.869363,0.440183,0.309768,0.130000,0.054000,2016.000000
50%,79.000000,5.322000,0.982205,1.124735,0.647310,0.431000,0.201982,0.091000,2017.000000
75%,118.000000,6.189500,1.236187,1.327250,0.808000,0.531000,0.278832,0.156030,2018.000000
max,158.000000,7.769000,2.096000,1.644000,1.141000,0.724000,0.838075,0.551910,2019.000000

# Exporting Data

In [55]:
# Exporting Data
wh_concat.to_csv(os.path.join(path, '02 Data','Prepared Data', 'world_happiness_combined.csv'))